<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('head.ejs') %>
    <title>Security Analysis</title>
  </head>
  <body>
    <%- include('seperator.ejs',{text: "Select File"}) %>
    <div class="analysis__files">
      <select></select>
    </div>
    <%- include('seperator.ejs',{text: "Select Rule"}) %>
    <div class="rule">
      <div class="rule__list">
        <%
        ['Reentrancy','tx-origin','IncorrectReturn','Delegate-call','Owner','Bad-Randomness','Visibility','Self-Destructor'].forEach(
        function(value){ %> <%- include('checkbox', { text: value, value: value
        }) %> <% }); %>
      </div>
    </div>
    <%- include('seperator.ejs',{text: "Select Language"}) %>
    <div class="language">
      <div class="language__list">
        <% ['Korean', 'English'].forEach(function(value){ %> <%-
        include('language', { text: value, value: value}) %> <% }); %>
      </div>
    </div>
    <button class="analysis__run">Analysis</button>
    <button class="audit-report">Audit Report</button>

    <!-- SCRIPTS -->
    <%-include('scripts.ejs') %>
  </body>
</html>
