<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('head.ejs') %>
    <link href="<%= styles.deploy %>" rel="stylesheet" />
    <title>Deploy</title>
  </head>
  <body>
    <div class="chain">
      <p>Chain</p>
      <select>
        <option>MainNet</option>
      </select>
    </div>
    <div class="address">
      <p>Address</p>
      <input />
    </div>
    <div class="gas">
      <p>Gas Limit</p>
      <input type="number" />
    </div>
    <div class="eth">
      <p>Value</p>
      <div>
        <input class="eth__amount" type="number" />
        <input class="eth__type" />
      </div>
    </div>

    <script nonce="<%= nonce %>" src="<%= controllers.index %>"></script>
    <script
      nonce="<%= nonce %>"
      src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"
    ></script>
  </body>
</html>
