<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('head.ejs') %>
    <link href="<%= styles.compile %>" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <!-- COMPILE -->
    <%-include('compile.ejs') %>
    <!-- INTERACTION -->
    <%-include('interaction.ejs') %>
    <!-- DEPLOY -->
    <%-include('deploy.ejs') %>

    <!-- SCRIPTS -->
    <%-include('scripts.ejs') %>
    <script nonce="<%= nonce %>" src="<%= controllers.compile %>"></script>
  </body>
</html>
